:root {
  --background-color: #2A2A2A;
  --primary-color: #393939;
  --secondary-color: #B47BE6;
  --title-color: #C9C9C9;
  --text-color: #707070;
  --font : 'Roboto', sans-serif;
}

body{
  background-color: var(--background-color);
}
.head-title{
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
  justify-content: space-around;
  margin-top : 50px;
}
.head-title h1{
  color: var(--title-color);
  font-family: var(--font);
  font-weight: 300;
  font-size : 2rem;
}
.head-title .search{
  margin-left: 10px;
}
::placeholder{
  width : 500px;
  text-align : left;
}
.head-title .search input{
  border: none;
  border-radius: 50px;
  padding: 15px 200px;
  background-color: var(--primary-color);
  color : var(--text-color);
  font-family: var(--font);
  font-size : 1.25rem;
}

.head-date .hidding{
  position : absolute;
  padding : 40px 70px;
  background-color: var(--background-color);
  left : 93%;
  bottom : 0px;
}
.head-date{
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
  margin : 50px 0px;
  justify-content: center;
  position : relative;
}
.head-date .button-date{
  background-color: var(--background-color);
  color : var(--title-color);
  border : 2px solid var(--text-color);
  border-radius : 15px;
  padding : 20px 70px;
  font-size : 1rem;
  margin-left : 50px;
  transition : all 0.3s ease-in-out;
}
.head-date .button-date:hover{
  background-color : var(--primary-color);
  color : var(--title-color);
}
#precedent, #suivant{
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: absolute;
  z-index : 99;
}
#precedent {
  left: 70px;
}

#suivant {
  right: 30px;
}
.container-date{
  overflow-x: scroll;
  scroll-behavior : smooth;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left : 80px;
}
.container-date::-webkit-scrollbar{
  display: none;
}
.match-info{
  margin:75px 0;
}
.match-info h2{
  color : var(--secondary-color);
  font-family: var(--font);
  font-size : 1.8rem;
  font-weight: 400;
  margin-left : 100px;
  margin-top : 50px;
}
.match-info .tournament-info{
  display :flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
  margin-left : 100px;
  margin-top : 50px;
}

.match-info .tournament-info img{
  border-radius : 50%;
  max-width: 50px;
  object-fit: cover;
}
.match-info .tournament-info p{
  color : var(--secondary-color);
  font-family: var(--font);
  font-size : 1.2rem;
  font-weight: 300;
  margin-left : 20px;
}
.match-info .container-card{
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
  justify-content: start;
  margin-left : 100px;
}
.match-info .container-card a{
  font-size: 1.3rem;
  text-decoration: none;
}
.match-info .card-match{
  position : relative;
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
  justify-content: space-around;
  width : 400px;
  flex-basis : 400px;
  max-height : 80px;
  padding : 10px 0px;
  background-color: var(--primary-color);
  margin-right : 50px;
  margin-top : 10px;
  cursor : pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  transition : all 300ms ease-in-out;
}
.match-info .card-match:hover{
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 40px -7px;
}
.match-info .card-match:nth-of-type(n+4){
  margin-top : 30px;
}
.match-info .card-match img{
  border-radius : 50%;
  width : 50px;
  height : 50px;
  object-fit: contain;
}
.match-info .card-match .team-match{
  display : flex;
  flex-direction: column;
  flex-wrap : wrap;
  align-items: center;
  color : var(--text-color);
  font-size : 1.3rem;
  font-family: var(--font);
}
.match-info .card-match .team-match p{
  margin-block : 0px;
}
.match-info .card-match .separator{
  position : absolute;
  top : 0%;
  background-color : var(--text-color);
  padding : 48px 0.5px;
}
.match-info .card-match .separator:nth-of-type(1){
  left : 30%;
}
.match-info .card-match .separator:nth-of-type(2){
  left : 72%;
}

.match-info .container-card .match-time{
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  align-items: center;
}
.match-info .container-card .match-time p{
  color : #FF0000;
  font-size : 1.2rem;
  font-family: var(--font);
}
.match-info .container-card .match-time span{
  padding : 5px 5px;
  border-radius : 50px;
  background-color : #FF0000;
  margin-right : 5px;
}




@media only screen and (max-width: 768px) {
  .head-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .head-title h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .head-title .search input {
    padding: 10px 50px;
    font-size: 16px;
  }
}