#body{
    margin:0px;
    padding:0px;
    width:100%;
    text-align:center;
}
#form{
    text-align:center;
    margin-top:100px;
}
.inputConnect{
    font-size:20px;
    border-color: #333;
    border: solid 2px;
    border-radius:30px;
    background-color:#ffffff;
    color: #333;
    margin-top:20px;
    padding:5px 10px;
}
.inputConnect::placholder{
    font-size:20px;
    color: #333;
}
#button{
    font-size:20px;
    color: #fff;
    border: solid 2px;
    border-color: #333;
    border-radius:30px;
    background-color:#e30505dc;
    
    margin-top:40px;
    padding:5px 10px;
}